body{
    display: flex;
	background: blue;
	color: white;
	width: calc(30px * 4);
	width: calc(4rem * 4);
}
div{
    color: $color__black;
    background: green;
    
    @mixin media{
        background: red;
    }
}